<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Venue Finder!</title>
    <link rel="stylesheet" href="home.css">
  </head>

  <body>
    <h1><%=@venue%></h1>
    <p><%=@venue_information%></p>


  </body>
</html>
